@font-face {
  font-family: 'icomoon-share';
  src:  url('./fonts/icomoon-share.eot?kkdth7');
  src:  url('./fonts/icomoon-share.eot?kkdth7#iefix') format('embedded-opentype'),
    url('./fonts/icomoon-share.woff2?kkdth7') format('woff2'),
    url('./fonts/icomoon-share.ttf?kkdth7') format('truetype'),
    url('./fonts/icomoon-share.woff?kkdth7') format('woff'),
    url('./fonts/icomoon-share.svg?kkdth7#icomoon-share') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="share-icon-"], [class*=" share-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon-share' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.share-icon-share:before {
  content: "\e900";
}
.share-icon-new-tab:before {
  content: "\e901";
}
.share-icon-share2:before {
  content: "\e902";
}
.share-icon-phone:before {
  content: "\e903";
}
.share-icon-phone-hang-up:before {
  content: "\e904";
}
.share-icon-envelop:before {
  content: "\e905";
}
.share-icon-envelop2:before {
  content: "\e92c";
}
.share-icon-mail:before {
  content: "\e906";
}
.share-icon-mail2:before {
  content: "\e907";
}
.share-icon-mail3:before {
  content: "\e908";
}
.share-icon-mail4:before {
  content: "\e909";
}
.share-icon-location:before {
  content: "\e90a";
}
.share-icon-location2:before {
  content: "\e90b";
}
.share-icon-amazon:before {
  content: "\e90c";
}
.share-icon-google:before {
  content: "\e90d";
}
.share-icon-google2:before {
  content: "\e90e";
}
.share-icon-google3:before {
  content: "\e90f";
}
.share-icon-google-plus:before {
  content: "\e910";
}
.share-icon-google-plus2:before {
  content: "\e911";
}
.share-icon-google-plus3:before {
  content: "\e912";
}
.share-icon-google-drive:before {
  content: "\e913";
}
.share-icon-facebook:before {
  content: "\e914";
}
.share-icon-facebook2:before {
  content: "\e915";
}
.share-icon-instagram:before {
  content: "\e916";
}
.share-icon-whatsapp:before {
  content: "\e917";
}
.share-icon-telegram:before {
  content: "\e918";
}
.share-icon-twitter:before {
  content: "\e919";
}
.share-icon-rss:before {
  content: "\e91a";
}
.share-icon-rss2:before {
  content: "\e91b";
}
.share-icon-youtube:before {
  content: "\e91c";
}
.share-icon-youtube2:before {
  content: "\e91d";
}
.share-icon-youtube3:before {
  content: "\e92d";
}
.share-icon-vimeo:before {
  content: "\e91e";
}
.share-icon-vimeo2:before {
  content: "\e91f";
}
.share-icon-flickr:before {
  content: "\e920";
}
.share-icon-flickr2:before {
  content: "\e921";
}
.share-icon-flickr3:before {
  content: "\e922";
}
.share-icon-flickr4:before {
  content: "\e923";
}
.share-icon-dribbble:before {
  content: "\e924";
}
.share-icon-soundcloud:before {
  content: "\e925";
}
.share-icon-soundcloud2:before {
  content: "\e926";
}
.share-icon-skype:before {
  content: "\e927";
}
.share-icon-linkedin:before {
  content: "\e928";
}
.share-icon-linkedin2:before {
  content: "\e929";
}
.share-icon-pinterest:before {
  content: "\e92a";
}
.share-icon-pinterest2:before {
  content: "\e92b";
}
.share-icon-icon-play:before {
  content: "\e92e";
}
.share-icon-icon-contrast:before {
  content: "\e92f";
}
.share-icon-icon-fontsize:before {
  content: "\e930";
}
.share-icon-burger:before {
  content: "\e931";
}
.share-icon-hamburger:before {
  content: "\e932";
}
.share-icon-globe:before {
  content: "\e933";
}

