$bgColor: #ffffff;
$bg2Color: #dddddd;
$borderColor: #999999;
$border2Color: #666666;
//
$textColor: #000000;
$text2Color: #111111;
$text3Color: #222222;
//
$specialColor: #000000;
$specialHoverColor: #ff0000;
//
$linkColor: blue;
$hoverColor: #0000cc;